body {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Arial', sans-serif;
    background-color: #a9b6a6; 
}

  h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Arial', sans-serif;
  }
  
  /* Header with background image */
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url('items/header-bg.png') no-repeat center center; /* Replace with the path to your header_bg image */
    background-size: cover;
    padding: 10px 20px;
  }
  
  .logo-image {
    height: 120px; /* Adjust as per your logo's aspect ratio */
  }
  
  nav ul {
    display: flex;
    margin-left: auto; /* Push the navigation to the right */
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    color: #977c66;
    text-decoration: none;
    padding: 5px 10px;
    transition: color 0.3s;
  }
  
  nav ul li a:hover {
    color: #acd9b2; /* Soft green for hover effect */
  }
  
  /* Main Content */
  main {
    padding: 20px;
    text-align: center;
  }
  
  /* Footer */
  footer {
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    text-align: center;
  }
  
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-container p {
    font-size: 14px; /* Smaller text size */
  }
  
  .footer-container ul {
    display: flex;
    justify-content: center;
  }
  
  .footer-container ul li a {
    color: white;
    text-decoration: none;
    margin: 0 5px;
    font-size: 14px; /* Adjusted text size */
  }

  #calendar {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #977c66;
    color: #fff;
    font-size: 1.5em; /* Başlık boyutu büyütüldü */
}
.calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
    background-color: #977c66;
}
.calendar-day {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    border-bottom: 1px solid #ccc; /* Günlerin altına çizgi eklendi */
}
.calendar-day.event {
    background-color: #acd9b2;
}
